.node {
    fill: grey;
    stroke: none;
    height: 20px;
    width: 20px;
}


.edge {
    stroke: grey;
    stroke-width: 2px;
}

.gen0 {
    fill: white
}

.gen1 {
    fill: red;
}

.lefthand {
    stroke: green;
    stroke-width: 3px;
}

.even {
    stroke: green;
    stroke-width: 5px;
}

.mod3 {
    fill: purple;
}

.spoke {
    stroke: orange;
}

.end {
    stroke: blue;
    stroke-width: 3px;
}

.centered {
    stroke: yellow;
    stroke-width: 3px;
}

.terminal {
    fill: black;
    stroke: white;
}

.merged {
    stroke: white;
}

.split {
    stroke: cyan;
}

/* .edge {
    stroke: black;
    stroke-width: 2px;
} */