.node {
    fill: grey;
    stroke: none;
    height: 20px;
    width: 20px;
}


.edge {
    stroke: grey;
    stroke-width: 1px;
}

.gen0 {
    fill: white
}

.gen1 {
    fill: red;
}

.lefthand {
    stroke: green;
    stroke-width: 1px;
}

.even {
    stroke: green;
    stroke-width: 1px;
}

.mod3 {
    fill: purple;
}

.spoke {
    stroke: orange;
}

.end {
    stroke: blue;
    stroke-width: 1px;
}

.centered {
    stroke: yellow;
    stroke-width: 1px;
}

.terminal {
    fill: black;
    stroke: white;
}

.merged {
    stroke: white;
}

.split {
    stroke: cyan;
}


.spoke {
    stroke: darkcyan;
    stroke-width: 1px;
}

.merged {
    fill: darkcyan;
    stroke: white;
    stroke-width: 1px;
}

.dotted {
    stroke-dasharray: 5, 5;
}

.sibling-seg {
    stroke: magenta;
    stroke-width: 1px;
}

.border-joint {
    stroke: gray;
    fill: black;
    stroke-width: 3px;
}

.loop-seg {
    stroke: rgb(4, 255, 0);
    stroke-width: 1px;
}


.edge {
    stroke: black;
    stroke-width: 2px;
}

.border-joint,
.border,
.terminal,
.to-border,
.centered {
    stroke: black;
    fill: black;
    stroke-width: 0px;
}